<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意这里的命名空间一定要与dao层的接口路径一致 -->
<mapper namespace="xyz.diaodeyipi.orderfood.dao.OrderDetailDao">
    <!-- 这里的id名一定与dao层接口的方法名一致 -->
    <select id="selectAll" resultType="xyz.diaodeyipi.orderfood.entity.OrderDetail">
        SELECT * FROM t_orderdetail
    </select>

    <select id="selectByMenuId" parameterType="java.lang.Integer" resultType="xyz.diaodeyipi.orderfood.entity.OrderDetail">
        SELECT * FROM t_orderdetail WHERE menuid=#{menuId}
    </select>

    <select id="selectByOrderId" parameterType="java.lang.Integer" resultType="xyz.diaodeyipi.orderfood.entity.OrderDetail">
        SELECT * FROM t_orderdetail WHERE orderid=#{orderId}
    </select>

    <select id="selectOne" parameterType="java.util.Map" resultType="xyz.diaodeyipi.orderfood.entity.OrderDetail">
        SELECT * FROM t_orderdetail WHERE orderid=#{orderId} AND menuid=#{menuId}
    </select>

    <insert id="insert" parameterType="xyz.diaodeyipi.orderfood.entity.OrderDetail" useGeneratedKeys="true">
        INSERT INTO t_orderdetail(orderid, menuid, num) VALUES (#{orderId}, #{menuId}, #{num})
    </insert>

    <update id="update" parameterType="xyz.diaodeyipi.orderfood.entity.OrderDetail">
        UPDATE t_orderdetail SET orderid=#{orderId}, menuid=#{menuId}, num=#{num} WHERE orderid=#{orderId} AND menuid=#{menuId}
    </update>

    <delete id="delete" parameterType="java.util.Map">
        DELETE FROM t_orderdetail WHERE orderid=#{orderId} AND menuid=#{menuId}
    </delete>

    <delete id="deleteByOrderId" parameterType="java.lang.Integer">
        DELETE FROM t_orderdetail WHERE orderid=#{orderId}
    </delete>
</mapper>